body{
    margin: 0px;
    padding: 0px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 6px 10px -5px rgba(150, 170, 180, 0.5);
    padding: 2px 7px;
}
.nav-items{
    list-style: none;
    display:flex;
}
.nav-items li{
    font-weight: bold;
    padding: 10px;
}
.logo{
    width: 60px;
}
.mainsec{
    padding: 5px 15px;
}
footer{
    background-color: gray;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}